In [76]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split 
from sklearn import metrics

data = pd.read_csv('../data/Shakespeare_data.csv')

# Delete invalid data
data = data.dropna()

# Drop data that is less helpful for prediction
del data['Dataline']
del data['PlayerLine']
data

                  Play  PlayerLinenumber ActSceneLine         Player
3             Henry IV               1.0        1.1.1  KING HENRY IV
4             Henry IV               1.0        1.1.2  KING HENRY IV
5             Henry IV               1.0        1.1.3  KING HENRY IV
6             Henry IV               1.0        1.1.4  KING HENRY IV
7             Henry IV               1.0        1.1.5  KING HENRY IV
...                ...               ...          ...            ...
111390  A Winters Tale              38.0      5.3.179        LEONTES
111391  A Winters Tale              38.0      5.3.180        LEONTES
111392  A Winters Tale              38.0      5.3.181        LEONTES
111393  A Winters Tale              38.0      5.3.182        LEONTES
111394  A Winters Tale              38.0      5.3.183        LEONTES

[105152 rows x 4 columns]

In [84]:
# label encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data.iloc[:,:] = data.iloc[:,:].apply(
    lambda col:le.fit_transform(col)
)
data

        Play  PlayerLinenumber  ActSceneLine  Player
3          9                 0           324     457
4          9                 0           435     457
5          9                 0           546     457
6          9                 0           657     457
7          9                 0           768     457
...      ...               ...           ...     ...
111390     2                37         14601     494
111391     2                37         14603     494
111392     2                37         14604     494
111393     2                37         14605     494
111394     2                37         14606     494

[105152 rows x 4 columns]

In [87]:
x = data[['Play', 'PlayerLinenumber', 'ActSceneLine']]
y = data['Player']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

clf = DecisionTreeClassifier()
clf = c.fit(x_train, y_train)

y_pred = clf.predict(x_test)

print("Accuracy: ", metrics.accuracy_score(y_test, y_pred))

Accuracy:  0.7812277114735391